h2{
    font-family: 'Dokdo', cursive;
    font-size: 50px;
    margin: 0;
    padding: 0;
}
.clock{
    border: 2px solid black;
    box-shadow: 2px 2px #555555;
    background-color: olivedrab;
    text-align: center;
    width: 500px;
    height: 270px;
}

.tabTabs{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.tabTabs li{
    border: 2px solid black;
    border-radius: 15px;
    background-color: cyan;
    margin: 0px 4px;
    padding: 4px;
}

.tabs-contents{
    text-align: center;
    margin: 0 auto;
    border: 2px solid black;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: cyan;
}

li:hover{
    color: white;
    background-color: #111111;
    cursor: pointer;
}

.tab{
    width: 400px;
    height: 400px;
}